<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
</head>
<body ng-app="auth0FirebaseTemplateApp">
<!--[if lte IE 8]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

<!-- Add your site or application content here -->
<div class="header">
    <div class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">

                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#js-navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand" href="#/">auth0FirebaseTemplate</a>
            </div>

            <div class="collapse navbar-collapse" id="js-navbar-collapse">

                <ul class="nav navbar-nav">
                    <li class="active"><a href="#/">Home</a></li>
                    <li><a ng-href="#/">About</a></li>
                    <li><a ng-href="#/">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <!--<div ng-include="'views/main.html'" ng-controller="MainCtrl"></div>-->
    <div class="col-xs-12 col-sm-4 text-right hidden-xs">
        <button class="btn btn-default" ng-cloak ng-if="!FAAuth.authData.uid" ng-click="FAAuth.authenticate()">login</button>
        <button class="btn btn-default" ng-cloak ng-if="FAAuth.authData.uid" ng-click="FAAuth.deauthenticate()">logout</button>
    </div>
    <div class="col-xs-12 col-sm-4 text-left visible-xs">
        <button class="btn btn-default" ng-cloak ng-if="!FAAuth.authData.uid" ng-click="FAAuth.authenticate()">login</button>
        <button class="btn btn-default" ng-cloak ng-if="FAAuth.authData.uid" ng-click="FAAuth.deauthenticate()">logout</button>
    </div>
</div>

<!--<div class="footer">-->
    <!--<div class="container">-->
        <!--<p><span class="glyphicon glyphicon-heart"></span> from the Yeoman team</p>-->
    <!--</div>-->
<!--</div>-->


<!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
<script>
    !function (A, n, g, u, l, a, r) {
        A.GoogleAnalyticsObject = l, A[l] = A[l] || function () {
                    (A[l].q = A[l].q || []).push(arguments)
                }, A[l].l = +new Date, a = n.createElement(g),
                r = n.getElementsByTagName(g)[0], a.src = u, r.parentNode.insertBefore(a, r)
    }(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-XXXXX-X');
    ga('send', 'pageview');
</script>

<!-- build:js(.) scripts/vendor.js -->
<!-- bower:js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>
<script src="bower_components/firebase/firebase.js"></script>
<script src="bower_components/angularfire/dist/angularfire.js"></script>
<script src="bower_components/auth0.js/build/auth0.js"></script>
<script src="bower_components/auth0-lock/build/auth0-lock.js"></script>
<script src="bower_components/auth0-angular/build/auth0-angular.js"></script>
<script src="bower_components/angular-jwt/dist/angular-jwt.js"></script>
<script src="bower_components/a0-angular-storage/dist/angular-storage.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="scripts/app.js"></script>
<script src="scripts/controllers/main.js"></script>
<script src="scripts/services/faauth.js"></script>
<script src="scripts/services/fafirebasearray.js"></script>
<script src="scripts/services/fafirebase.js"></script>
<!-- endbuild -->
</body>
</html>
